<div class="col-lg-9">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Chỉnh sửa nhãn hiệu</h2>
			<form method="post" id="edit_form" action="/admin/brand/edit/{{brand._id}}" data-toggle="validator">
			<input type="hidden" name="id" value="{{brand._id}}" />
                {{#if message}}
                    <div class="message-success">{{message}}</div>
                {{/if}}
                {{#if errormessage}}
                    <li class="list-group-item">
                        <h1 class="message-error">Đã có lỗi xảy ra!</h1>
                        <div class="message-error">{{errormessage}}</div>
                    </li>
                {{/if}}
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tên nhãn hiệu</label>
                <div class="col-sm-10">
                    <input type="text" name="nameBr" class="form-control" minlength="1" maxlength="200" value="{{brand.Name}}" required/>
                </div>
		  	</div>
		  	<div class="form-group">
                <div class="col-sm-10 col-sm-offset-5 top-margin-35">
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                </div>
  			</div>
            </form>
		</div>
	</div>
</div>