<div class="col-lg-9 top-margin-35">
    <form method="post" class="form-horizontal" id="insert_form" action="/admin/order/edit/{{order._id}}" data-toggle="validator">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Chỉnh sửa thông tin đơn hàng</h2>
            </div>
            {{#if message}}
                <div class="message-success">{{message}}</div>
            {{/if}}
            {{#if errormessage}}
                <li class="list-group-item">
                    <h1 class="message-error">Đã có lỗi xảy ra!</h1>
                    <div class="message-error">{{errormessage}}</div>
                </li>
            {{/if}}
            <div class="form-group">
                <label class="col-sm-2 control-label">Tài khoản tạo đơn hàng</label>
                <div class="col-sm-10">
                    <input type="text" name="userName" class="form-control" value="{{order.UserId.UserName}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tên người nhận *</label>
                <div class="col-sm-10">
                    <input type="text" name="billerName" class="form-control" minlength="5" maxlength="200" value="{{order.Name}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tên sản phẩm</label>
                <div class="col-sm-10">
                    <input type="text" name="productTitle" class="form-control" value="{{order.ProductId.Title}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Đơn giá</label>
                <div class="col-sm-10">
                    <input type="number" name="productPrice" id="price" class="form-control" value="{{order.ProductId.Price}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Số lượng *</label>
                <div class="col-sm-10">
                    <input id="amount" type="number" name="amount" class="form-control" min="1" value="{{order.Amount}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="col-sm-2 control-label">Thành tiền *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">VNĐ</span>
                        <input id="totalPrice" type="number" class="form-control" value="{{calculate order.ProductId.Price '*' order.Amount}}" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label"> Địa chỉ *</label>
                <div class="col-sm-10">
                    <input type="text" name="billAddress" class="form-control" minlength="5" maxlength="200" value="{{order.BillAddress}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Số điện thoại *</label>
                <div class="col-sm-10">
                    <input type="text" name="mobilePhone" pattern="\d+" class="form-control" minlength="5" maxlength="200" value="{{order.MobilePhone}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Phương thức thanh toán *</label>
                <div class="col-sm-10">
                    <select class="form-control" name="paymentMethod">
                        <option {{#ifCond order.PaymentMethod '==' 'Thanh toán khi nhận hàng'}}selected{{/ifCond}}>Thanh toán khi nhận hàng</option>
                        <option {{#ifCond order.PaymentMethod '==' 'Thanh toán online'}}selected{{/ifCond}}>Thanh toán online</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Ngày tạo</label>
                <div class="col-sm-10">
                    <input type="text" name="createDate" class="form-control" value="{{formatDate order.CreateDate 'DD/MM/YYYY'}}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Ngày giao hàng *</label>
                <div class="col-sm-10">
                    <input type="date" name="deliveryDate" class="form-control" data-date="DD/MM/YYYY" data-date-format="DD/MM/YYYY" value="{{formatDate order.DeliveryDate "YYYY-MM-DD"}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Trạng thái *</label>
                <div class="col-sm-10">
                    <select class="form-control" name="status">
                        <option {{#ifCond order.Status '==' 'Hoàn thành'}}selected{{/ifCond}}>Hoàn thành</option>
                        <option {{#ifCond order.Status '==' 'Đang xử lý'}}selected{{/ifCond}}>Đang xử lý</option>
                        <option {{#ifCond order.Status '==' 'Thất bại'}}selected{{/ifCond}}>Thất bại</option>
                        <option {{#ifCond order.Status '==' 'Đã hủy'}}selected{{/ifCond}}>Đã hủy</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-5">
                <button id="frm_edit_order_save" class="btn btn-success">Lưu  <i class="fa fa-floppy-o"></i></button>
            </div>
        </div>
        <input type="hidden" name="id" value="{{order._id}}" />
    </form>
</div>