<div class="col-lg-9 top-margin-35">
    <form method="post" class="form-horizontal" action="/admin/product/edit/{{product._id}}" data-toggle="validator">
        <div class="col-lg-12">
            <h2 class="text-center"><b>Chỉnh sửa thông tin sản phẩm</b></h2>
            {{#if message}}
                <div class="message-success">{{message}}</div>
            {{/if}}
            {{#if errormessage}}
                <div class="text-center">
                    <h3 class="message-error">Đã có lỗi xảy ra!</h3>
                    <div class="message-error">{{errormessage}}</div>
                </div>
            {{/if}}
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Tên sản phẩm *</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" minlength="5" maxlength="200" value="{{product.Title}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="col-sm-2 control-label">Giá sản phẩm *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">VNĐ</span>
                        <input type="number" name="price" class="form-control" min="1000" value="{{product.Price}}" step="1000" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Mô tả sản phẩm *</label>
                <div class="col-sm-10">
                    <textarea id="editor" minlength="5" rows="5" name="description" class="form-control" required>{{product.Description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="brand" class="col-sm-2 control-label">Thương hiệu *</label>
                <div class="col-sm-10">
                    <input type="hidden" name="oldBrand" value="{{product.Brand}}" />
                    <select class="form-control" name="brand">
                    {{#each brands}}
                        <option value="{{this._id}}" {{#ifCond ../product.Brand '==' this._id}}selected{{/ifCond}}>{{this.Name}}</option>
                    {{/each}}
                    </select>
                </div>
            </div>
            <h4><b><i>Cấu hình chi tiết</i></b></h4>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label"> Màn hình *</label>
                <div class="col-sm-10">
                    <input type="text" name="detailScreen" class="form-control" minlength="5" maxlength="200" value="{{product.Details.Screen}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Hệ điều hành *</label>
                <div class="col-sm-10">
                    <input type="text" name="detailOS" class="form-control" minlength="5" maxlength="200" value="{{product.Details.OS}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Camera chính *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">MP</span>
                        <input type="number" name="detailPrimaryCamera" class="form-control" min="1" value="{{product.Details.PrimaryCamera}}" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Camera phụ *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">MP</span>
                        <input type="number" name="detailSecondaryCamera" class="form-control" min="" value="{{product.Details.SecondaryCamera}}" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">CPU *</label>
                <div class="col-sm-10">
                    <input type="text" name="detailCPU" class="form-control" minlength="5" maxlength="200" value="{{product.Details.CPU}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">RAM *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">GB</span>
                        <input type="number" name="detailRAM" class="form-control" min="1" value="{{product.Details.RAM}}" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Bộ nhớ *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">GB</span>
                        <input type="number" name="detailMemory" class="form-control" min="1" value="{{product.Details.Memory}}" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Sim *</label>
                <div class="col-sm-10">
                    <input type="text" name="detailSim" class="form-control" minlength="5" maxlength="200" value="{{product.Details.Sim}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Pin *</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">mAh</span>
                        <input type="number" name="detailBattery" class="form-control" min="100" value="{{product.Details.Battery}}" required/>
                    </div>
                </div>
            </div>
            <div id="product-images">
                <h2>Hình ảnh sản phẩm</h2>
                {{#if imagePath}}
                <div class="row">
                    <div class="col-md-12">
                    {{#each imagePath}}
                        <div class="col-md-4 col-xl-4 col m4 xl4 product-item">
                            <div class="vertical-center thumbnail-image-container-small thumbnail-small">
                                <img class="img-responsive" src="{{this}}">
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                {{else}}
                    <h4 class="text-warning">Chưa có hình ảnh nào cho sản phẩm này</h4>
                {{/if}}
                <input type="hidden" name="imagePath" value="{{imagePath}}" />
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Tải lên hình ảnh  <i class="glyphicon glyphicon glyphicon-upload"></i></button>
                <button id="frm_edit_product_save" class="btn btn-success">Lưu sản phẩm  <i class="fa fa-floppy-o"></i></button>
            </div>
        </div>
        <input type="hidden" name="id" value="{{product._id}}" />
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="uploadForm" name="uploadForm" action="/admin/file/upload" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm hình cho sản phẩm</h4>
                </div>
                <div class="modal-body text-center">
                    <div type="text" id="filesResult"></div>
                    <span class="btn btn-info btn-file">
                        Chọn ảnh<input type="file" id="imagesUpload" accept="image/*" name="imagesUpload" multiple required oninvalid="this.setCustomValidity('Vui lòng chọn ảnh trước khi tải lên')" oninput="this.setCustomValidity('')">
                    </span>
                    <input type="hidden" name="id" value="{{product._id}}"/>
                </div>
                <div class="text-center" id="status"></div>
                <div class="modal-footer">
                    <button type="button" id="cancelButton" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" id="saveButton" class="btn btn-primary">Tải lên</button>
                </div>
            </form>
        </div>
    </div>
</div>