<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SmartPhone Shop</title>
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-xl.css">
        <link rel="stylesheet" href="/stylesheets/pushy.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        {{!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"> --}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120826723-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120826723-1');
        </script>

    </head>
    <body>
		<!-- Static navbar -->
	    <nav class="navbar navbar-default navbar-static-top">
            <div class="search-bar">
                <form action="/search" method="get" data-toggle="validator">
                    <input type="text" placeholder="Tìm sản phẩm" name="productName" class="form-search" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
			<div class="container-fluid mainNavBar">
				<div class="navbar-header">
                    <a class="navbar-brand navbar-brand-image" href="/"><img class="img-responsive" src="/images/Logo.png"></a>
                </div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
                            <a href="/user/shopping-cart/">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng
                                <span class="badge">{{#if cart}}{{cart.totalQty}}{{/if}}</span>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>{{#if user.UserName}}Xin chào <b>{{user.UserName}}</b>{{else}}Tài khoản{{/if}}<span class="caret"></span></a>
								<ul class="dropdown-menu">
								{{#if user}}
                                    {{#ifCond user.Role '==' 'admin'}}
                                        <li><a href="/admin">Bảng điều khiển</a></li>
                                        <li role="separator" class="divider"></li>
                                    {{else}}
                                        <li><a href="/user/history">Lịch sử đặt hàng</a></li>
                                        <li role="separator" class="divider"></li>
                                    {{/ifCond}}
                                    <li><a href="/user/profile">Thông tin tài khoản</a></li>
									 <li role="separator" class="divider"></li>
									<li><a href="/user/signout">Đăng xuất</a></li>
								{{else}}
									<li><a href="/user/signup">Đăng ký</a></li>
									<li><a href="/user/signin">Đăng nhập</a></li>
								{{/if}}
								</ul>
						</li>
					</ul>
				</div>
	        </div>
	    </nav>
        <div class="site-overlay"></div>
		<div class="container-fluid content-body center-align" id="container">
            <div class="row">
                {{#ifCond menuBrand "||" priceRange}}
				<div class="col col-md-2 col-xl-2 menuLeft">
                {{#if menuBrand}}
					<h4><b>Thương Hiệu</b></h4>
					<div class="list-group">
						{{#each menuBrand}}							
							<a href="/filter/brand/{{this._id}}" class="list-group-item">{{this.Name}}<span class="badge">{{this.Products.length}}</span></a>						
						{{/each}}
					</div>
                {{/if}}
                {{#if priceRange}}
					<h4><b>Giá Tiền</b></h4>
					<div class="list-group">
						{{#each priceRange}}
							<a href="/filter/price/{{this.start}}/{{this.end}}" class="list-group-item">{{formatAmountTitle this.start this.end}}<span class="badge">{{this.count}}</span></a>											
						{{/each}}
					</div>
                {{/if}}
				</div>
                {{/ifCond}}
                {{{body}}}
            </div>
		</div>
        
        <input type="hidden" id="input_notify_message" value="{{message}}">
        <input type="hidden" id="input_notify_messageType" value="{{messageType}}">
        <div id="notify_message"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="/javascripts/jquery.bootpag.min.js"></script>
        <script src="/javascripts/cssbeautify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="/javascripts/jquery.dotdotdot.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
        <script src="/javascripts/pushy.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/javascripts/SmartPhoneShoppingCart.js"></script>

         <footer class="footer-distributed">

			<div class="footer-left">

				<h3>ShoppingCart<span>logo</span></h3>

				<p class="footer-links">
					<a href="/">Home</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="https://www.facebook.com/thuongkenzin">Contact</a>
				</p>

				<p class="footer-company-name">Shopping Cart &copy; 2018</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>227 Nguyễn Văn Cừ, Quận 5</span> HCM city, Viet Nam</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>01659032295</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Thông tin về cửa hàng</span>
					Cửa hàng online chuyên cung cấp các sản phẩm điện thoại uy tín, nhiều mẫu mã, đáp ứng yêu cầu khách hàng.
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/xananguyen97"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/thinh97/SmartphoneShoppingCart"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

	</body>
</html>