<div class="col-md-8 col-xl-8 col-md-offset-1">   
        {{#ifCond results.length '==' 0}}
            <div class="col-md-12">
                <p class="text-danger">Không có sản phẩm nào</p>
            </div>
        {{/ifCond}}
        {{#each results}}
			<div class="row product-layout">
				{{#each this}}
					<div class="col-md-4 col-xl-4 col m4 xl4 product-item">
						<div class="thumbnail">
								<a href="/product/{{this._id}}">
									<div class="vertical-center thumbnail-image-container">
										{{#if this.ImagePath.[0]}}
											<img class="img-responsive" src="{{this.ImagePath.[0]}}">
										{{else}}
											<img class="img-responsive" src="/images/placeholder.png">
										{{/if}}
									</div>
									<h3 class="product-title product-title-home top-pad-10">
										{{this.Title}}
									</h3>
								</a>
							<h3 class="product-price text-center">
								{{formatAmount this.Price}} VNĐ
							</h3>
							<p class="text-center">
								<a class="btn btn-primary add-to-cart" data-id="{{this._id}}" role="button">Thêm vào giỏ hàng</a>
							</p>
						</div>
					</div>
				{{/each}}
			</div>
        {{/each}}
    <div class="text-center">
        <ul class="pagination pagination-centered">
            {{#paginate pagination type="first"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a {{#unless disabled}}href="?p={{n}}"{{/unless}}>Trang đầu</a></li>
            {{/paginate}}
            {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a {{#unless disabled}}href="?p={{n}}"{{/unless}}>Trang trước</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="7"}}
                <li {{#if active}}class="active"{{/if}}><a {{#unless disabled}}href="?p={{n}}"{{/unless}}>{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a {{#unless disabled}}href="?p={{n}}"{{/unless}}>Trang kế</a></li>
            {{/paginate}}
            {{#paginate pagination type="last"}}
                <li {{#if disabled}}class="disabled"{{/if}}><a {{#unless disabled}}href="?p={{n}}"{{/unless}}>Trang cuối</a></li>
            {{/paginate}}
        </ul>
    </div>
</div>
