<div class="product-layout col-md-9">
    <div class="row bottom-pad-20">
        <div class="col-xs-12 col-md-6 pull-right">
            <div class="row">
				<h1 class="col-md-12 product-title">{{result.Title}}</h1>
				<h4 class="col-md-12 product-price">{{formatAmount result.Price}} VNĐ</h4>
                <h5 class="col-md-12 no-margin-top">{{result.Views}} lượt xem</h5>
			</div>
			<table class="table">
				<tbody>
				{{#if result.Details.Screen}}	
				  <tr class="border-bottom">
					<td>Màn hình:</td>
					<td>{{result.Details.Screen}}</td>
				  </tr>
				{{/if}}
				{{#if result.Details.OS}}
				  <tr class="border-bottom">
					<td>Hệ điều hành:</td>
					<td>{{result.Details.OS}}</td>
				  </tr>
				{{/if}}
				{{#if result.Details.PrimaryCamera}}
				  <tr class="border-bottom">
					<td>Camera sau:</td>
					<td>{{result.Details.PrimaryCamera}} MP</td>
				  </tr>
				{{/if}}
				{{#if result.Details.SecondaryCamera}} 
				  <tr class="border-bottom">
					<td>Camera trước:</td>
					<td>{{result.Details.SecondaryCamera}} MP</td>
				  </tr>
				{{#if result.Details.CPU}}  
				{{/if}}  
				  <tr class="border-bottom">
					<td>CPU:</td>
					<td>{{result.Details.CPU}}</td>
				  </tr>
				{{#if result.Details.RAM}}  
				{{/if}}  
				  <tr class="border-bottom">
					<td>RAM:</td>
					<td>{{result.Details.RAM}} GB</td>
				  </tr>
				{{/if}}  
				{{#if result.Details.Memory}}  
				  <tr class="border-bottom">
					<td>Bộ nhớ:</td>
					<td>{{result.Details.Memory}} GB</td>
				  </tr>
				{{/if}}  
				{{#if result.Details.Sim}}  
				  <tr class="border-bottom">
					<td>Thẻ sim:</td>
					<td>{{result.Details.Sim}}</td>
				  </tr>
				{{/if}}  
				{{#if result.Details.Battery}}  
				  <tr>
					<td>Dung lượng Pin:</td>
					<td>{{result.Details.Battery}} mAh</td>
				  </tr>
				{{/if}}  
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12 productOptions">
                <p>Số lượng</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary qty-btn-minus" type="button">-</button>
                    </span>
                    <input type="number" class="form-control add-color text-center" id="product_quantity" min="1" max="99" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-primary qty-btn-plus" type="button">+</button>
                    </span>
                </div>
            </div>
			</div>
			<div class="row">
				<div class="col-md-12 btnAddToCart">
                    <a class="btn btn-primary btn-block add-to-cart" data-id="{{result._id}}" role="button">Thêm vào giỏ hàng</a>
				</div>
				<div class="col-md-12 body_text">
					{{{result.Description}}}
				</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pull-left">
            {{#if result.ImagePath.[0]}}
                <div class="title-image-container">
                    <div class="image-prev image-button"> <i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <img src="{{result.ImagePath.[0]}}" id="product-title-image" class="product-title-image img-responsive" alt="...">
                    <div class="image-next image-button"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            {{else}}
                <div class="title-image-container">
                    <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-responsive" alt="...">
                </div>
            {{/if}}
            {{#ifCond result.ImagePath.length '>' 1}}
                {{#each result.ImagePath}}
                    <div class="vertical-center top-pad-20 col-xs-6 col-lg-6 col-xl-6">
                        <img src="{{this}}" class="thumbnail-image img-responsive">
                    </div>
                {{/each}}
            {{/ifCond}}
        </div>
    </div>
    {{#ifCond relatedProduct.length '>' 0}}
        <div class="compare">
            <h3 class="text-center"><b>Các sản phẩm cấu hình tương tự</b></h3>
            <ul id="horizontal-list">
                {{#each relatedProduct}}
                    <li class="thumbnail-related">
                        <a href="/product/{{this._id}}">
                            <div class="text-center">
                                <img src="{{this.ImagePath.[0]}}" style="display: inline;">
                            </div>
                            <h4><b>{{this.Title}}</b></h4>
                            <strong>{{formatAmount this.Price}} VNĐ</strong>
                            <h5>RAM: {{this.Details.RAM}}GB</h5>
                            <h5>Bộ nhớ: {{this.Details.Memory}}GB</h5>
                            <h5>Pin: {{this.Details.Battery}}mAh</h5>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <h3 class="text-center message-error"><b>Không có sản phẩm cấu hình tương tự</b></h3>
    {{/ifCond}}
    <div class="row top-pad-20">
        <h3 class="text-center">Bình luận sản phẩm</h3>
        <form class="form-horizontal" id="comment-post" method="post" action="/product/add-comment" data-toggle="validator">
            <input type="hidden" name="productId" value="{{result._id}}">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Tên</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control" minlength="1" maxlength="200" value="{{user.Name}}" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nội dung</label>
                <div class="col-sm-9">
                    <textarea name="comment" class="form-control" minlength="1" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Đăng bình luận</button>
                </div>
            </div>
        </form>
        <div class="comments-list"></div>
    </div>
</div>