<div class="product-layout col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-xs-12 col-md-6 pull-right">
            <div class="row">
				<h1 class="col-md-12 product-title">{{result.title}}</h1>
				<h4 class="col-md-12 product-price">{{formatAmount result.price}} VNĐ</h4>
			</div>
			<table class="table">
				<tbody>
				{{#if result.details.screen}}	
				  <tr class="border-bottom">
					<td>Màn hình:</td>
					<td>{{result.details.screen}}</td>
				  </tr>
				{{/if}}
				{{#if result.details.os}}
				  <tr class="border-bottom">
					<td>Hệ điều hành:</td>
					<td>{{result.details.os}}</td>
				  </tr>
				{{/if}}
				{{#if result.details.primaryCamera}}
				  <tr class="border-bottom">
					<td>Camera sau:</td>
					<td>{{result.details.primaryCamera}} MP</td>
				  </tr>
				{{/if}}
				{{#if result.details.secondaryCamera}} 
				  <tr class="border-bottom">
					<td>Camera trước:</td>
					<td>{{result.details.secondaryCamera}} MP</td>
				  </tr>
				{{#if result.details.cpu}}  
				{{/if}}  
				  <tr class="border-bottom">
					<td>CPU:</td>
					<td>{{result.details.cpu}}</td>
				  </tr>
				{{#if result.details.ram}}  
				{{/if}}  
				  <tr class="border-bottom">
					<td>RAM:</td>
					<td>{{result.details.ram}} GB</td>
				  </tr>
				{{/if}}  
				{{#if result.details.memory}}  
				  <tr class="border-bottom">
					<td>Bộ nhớ:</td>
					<td>{{result.details.memory}} GB</td>
				  </tr>
				{{/if}}  
				{{#if result.details.sim}}  
				  <tr class="border-bottom">
					<td>Thẻ sim:</td>
					<td>{{result.details.sim}}</td>
				  </tr>
				{{/if}}  
				{{#if result.details.battery}}  
				  <tr>
					<td>Dung lượng Pin:</td>
					<td>{{result.details.battery}} mAh</td>
				  </tr>
				{{/if}}  
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12 productOptions">
                <p>Số lượng</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary qty-btn-minus" type="button">-</button>
                    </span>
                    <input type="text" class="form-control add-color text-center" id="product_quantity" maxlength="3" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-primary qty-btn-plus" type="button">+</button>
                    </span>
                </div>
            </div>
			</div>
			<div class="row">
				<div class="col-md-12 btnAddToCart">
					<button class="btn btn-primary btn-block product-add-to-cart" type="button">Add to cart</button>
				</div>
				<div class="col-md-12 body_text">
					{{{result.description}}}
				</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 pull-left">
            {{#if result.imagePath.[0]}}
                <div class="title-image-container">
                    <div class="image-prev image-button"> <i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <img src="{{result.imagePath.[0]}}" id="product-title-image" class="product-title-image img-responsive" alt="...">
                    <div class="image-next image-button"> <i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                </div>
            {{else}}
                <div class="title-image-container">
                    <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-responsive" alt="...">
                </div>
            {{/if}}
            {{#ifCond result.imagePath.length '>' 1}}
                {{#each result.imagePath}}
                    <div class="vertical-center top-pad-20 col-xs-6 col-lg-6 col-xl-6">
                        <img src="{{this}}" class="thumbnail-image img-responsive">
                    </div>
                {{/each}}
            {{/ifCond}}
        </div>
    </div>
</div>